body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f7fa;
    color: #333;
}

.header {
    background: #2d3748;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 1px;
}

.navbar {
    display: flex;
    justify-content: center;
    background: #4a5568;
}

.navbar a {
    color: white;
    padding: 14px 28px;
    text-decoration: none;
    transition: 0.2s;
}

.navbar a:hover {
    background: #718096;
}

.navbar a.active {
    background: #2b6cb0;
}

.machinestate {
    background: #060e18;
    display: flex;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.index-containers {
    display: flex;
    flex-direction: row;
}

.index-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    justify-content: center; /* Centers horizontally */
    align-items: center;     /* Centers vertically */
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
  font-size: 28px; /* Size for header cells */
  font-weight: bold;
  text-align: center;
  background-color: #96D4D4;
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px 25px;
}

td {
  font-size: 24px; /* Size for data cells */
  text-align: center;
  background-color: #96D4D4;
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px 25px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    padding: 20px;
}

.arm-switch-buttons {
    display: flex;
    flex-direction: row;   /* untereinander */
    gap: 0px;                /* Abstand zwischen Buttons */
    width: 100%;
}

.arm-switch-button {
    background: #f19d0b;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    width: 50%;
}

.arm-switch-button-clicked {
    background: #896320;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    width: 50%;
}

.chart-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    height: 80vh;
}

.card {
    flex: 1;
    background: white;
    /*border-radius: 12px;*/
    /*padding: 20px;*/
    /*box-shadow: 0 4px 12px rgba(0,0,0,0.08);*/
    transition: transform 0.2s ease;
    width: 90%;
}

#posChart {
    width: 100% !important;
    height: 70vh !important;
}

.joint-buttons {
    display: flex;
    flex-direction: column;   /* untereinander */
    gap: 10px;                /* Abstand zwischen Buttons */
    width: 10%;
}

.joint-button {
    background: #3182ce;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.joint-button-clicked {
    background: #08447c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.joint-button:hover {
    background: #2b6cb0;
}

.card:hover {
    transform: translateY(-4px);
}

.title {
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #2d3748;
}

.value {
    font-size: 40px;
    font-weight: bold;
    color: #3182ce;
}

.list {
    font-size: 16px;
    margin-top: 10px;
    line-height: 1.6;
}

.control-slider-rows {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: calc(100vh - 110px);
}

.control-slider-row {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 500px;
    margin: 10px 0;
}
.status-unknown {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #1e1caa;
}
.status-running {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #38a169;
}

.status-stopped {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #e53e3e;
}

.status-ready {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #e9e607;
}

.status-error {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #e90770;
}

.leader-temp-warn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 50px;
    font-weight: bold;
    color: #eeff00;
    z-index: 2147483647;
    min-width: 90vw;
}

.leader-temp-critical {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 50px;
    font-weight: bold;
    color: #ff0000;
    z-index: 2147483647;
    min-width: 90vw;
}

.leader-volt-critical {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 50px;
    font-weight: bold;
    color: #ff0000;
    z-index: 2147483647;
    min-width: 90vw;
}

.follower-temp-warn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 50px;
    font-weight: bold;
    color: #eeff00;
    z-index: 2147483647;
    min-width: 90vw;
}

.follower-temp-critical {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 50px;
    font-weight: bold;
    color: #ff0000;
    z-index: 2147483647;
    min-width: 90vw;
}

.follower-volt-critical {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 50px;
    font-weight: bold;
    color: #ff0000;
    z-index: 2147483647;
    min-width: 90vw;
}